            <label for="title">Title</label>
            <input type="text" id="title" name="postTitle" placeholder="Title" value="{{post.title}}">
            <label for="postContent">Body</label>
            <textarea id="postContent" name="postContent" placeholder="Write something here...">{{post.postContent}}</textarea>
            <button type="button" class="update">Update</button>
            <button type="button" class="delete">Delete</button>

            <script src="/js/editPost.js"></script>
            <script src="/js/deletePost.js"></script>
